/Saligumba_IT13B_Activities/nbproject/private/
/Saligumba_IT13B_Activities/build/
/Saligumba_IT13B_Activities/Lab_Exercise_2/nbproject/private/
/Saligumba_IT13B_Activities/Lab_Exercise_2/build/
/Saligumba_IT13B_Activities/PALINDROME/nbproject/private/
/Saligumba_IT13B_Activities/PALINDROME/build/
/Saligumba_IT13B_Activities/Saligumba_Single_Array/nbproject/private/
/Saligumba_IT13B_Activities/Midterm_Array/nbproject/private/
/Saligumba_IT13B_Activities/Midterm_Array/build/
